
@model List<GetAllTaskQueryResult>
@{
    ViewData["Title"] = "GetAllTasks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 mb-4">
    <div class="card profile shadow">
        <div class="card-body my-4">
            @foreach (var item in Model)
            {
                <div class="row align-items-center">
                    <div class="col-md-3 text-center mb-5">
                        <a href="#!" class="avatar avatar-xl">
                            <img src="./assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle">
                        </a>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <h4 class="mb-1">@item.MovieName</h4>
                                <p class="small mb-3"><span class="badge badge-dark">@item.Status</span></p>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-7">
                                <p class="text-muted">@item.Note </p>
                            </div>                           
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-7 mb-2">
                                <span class="small text-muted mb-0">@item.Date</span>
                            </div>
                            <div class="col mb-2">
                                <button type="button" class="btn btn-primary" href="/Tasks/DeleteTask/@item.TaskId">DELETE TASK</button>
                                <button type="button" class="btn btn-secondary">Profile</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- / .row- -->
            }

        </div> <!-- / .card-body - -->
    </div> <!-- / .card- -->
</div> <!-- / .col- -->
