
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-40">
<div class="row">
    <div class="col-md-50">
        <div class="card shadow mb-4">
 <div class="card-body">
                      <p class="mb-3"><strong>Input group</strong></p>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"></span>
                        </div>
                                <select id="cars" name="cars">
                                    @foreach (var item in ViewBag.MovieName)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                   
                                </select>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"></span>
                        </div>
                      </div>
                      <label for="basic-url">Your vanity URL</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Button addons" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <button class="btn btn-secondary" type="button">Button</button>
                        </div>
                        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                    </div>
                    <div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
