@model AppUserRegisterDto
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/tinydash-master/dark/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/tinydash-master/dark/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/tinydash-master/dark/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/tinydash-master/dark/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/tinydash-master/dark/css/app-dark.css" id="darkTheme">
</head>
<body class="dark ">
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <form method="post"class="col-lg-6 col-md-8 col-10 mx-auto">
                <div class="mx-auto text-center my-4">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                        <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                        <g>
                        <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                        <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                        <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
                    </a>
                    <h2 class="my-3">Register</h2>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-lg"  placeholder="Email" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control form-control-lg" placeholder="Username" asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control form-control-lg"  placeholder="FirsstName" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control form-control-lg" placeholder="LastName" asp-for="Surname">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg"  placeholder="New Password" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg"  placeholder="Şifreniz tekrar" asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                  
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
              
                <div class="text-center mt-4 font-weight-light">
                    Zaten bir hesabın var mı? <a href="/Login/Index/" class="text-primary">Giriş Yap</a>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!--hata mesajlarınnı göstermek için modelimiz. giriş yap butonunun altında bir çerçeve çıkcak, hataları göstericek.-->
            </form>
        </div>
    </div>
    <script src="~/tinydash-master/dark/js/jquery.min.js"></script>
    <script src="~/tinydash-master/dark/js/popper.min.js"></script>
    <script src="~/tinydash-master/dark/js/moment.min.js"></script>
    <script src="~/tinydash-master/dark/js/bootstrap.min.js"></script>
    <script src="~/tinydash-master/dark/js/simplebar.min.js"></script>
    <script src='~/tinydash-master/dark/js/daterangepicker.js'></script>
    <script src='~/tinydash-master/dark/js/jquery.stickOnScroll.js'></script>
    <script src="~/tinydash-master/dark/js/tinycolor-min.js"></script>
    <script src="~/tinydash-master/dark/js/config.js"></script>
    <script src="~/tinydash-master/dark/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
    </script>
</body>
</html>
